body{
  margin: 0;
}
.nav1{
  display: flex;
  justify-content: space-between;

  height: 40px;
  font-size: 12px;
  background-color: #28344E;
  color: white;
}

.nav-games{
  display: flex;
  justify-content:flex-start;
  padding:0;
  height:100%;
  align-items: center;
}

.logo{
  width: 98px;
  background: #5383E8;
}
.nav-games li{
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.nav-language{
  border: none;
  background-color:#28344E;
  color: white;
}

.nav-loginbox{
height: 100%;
display: flex;
align-items: center;
}

.loginbutton{
  
  margin: 0px 15px;
  border: 1px solid #5383E8;
  background-color: #5383E8;
  color: white;
  border-radius: 10%;
  padding: 2px 10px;
  cursor: pointer;
}

.loginbutton:hover{
  transform: scale(1.08);
  transition: 0.3s;
  background-color:#3c5a99;
  border-color: #3c5a99;
}

.container li{
  list-style-type: none;
}

.nav2-ul{
  display: flex;
}

.nav2{
  display: flex;
  min-height: 49px;
  background-color: #5383E8;
  color: white;
}

.nav2-row{
  height: 100%;
  display: flex;
  align-items: center;
}

.fk-shit{
  height: 100%;
}

.nav2-ul {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.nav2-ul li{
  margin-right: 20px;
 
}

.nav3{
  background-color: #FFB900;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.move-line{
  height: 2px;
  background-color: white;
}

.lol-main{
  background-color: #5383E8;
  min-height: 84vh;
}

.main-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px
}

.input-box{
margin-top: 50px;
border: 1px solid white;
width: 600px;
height: 60px;
border-radius: 50px;
background-color: white;
padding: 0 25px;
display: flex;
justify-content: space-between;
font-size: 12px;
font-weight: 900;
align-items: center;
}

.input-box input{
  border: none;
  width: 200%;
  font-size: 16px;
}

.input-box input:focus{
  border: none;
  outline: none;
}

.ggbutton{
  width: 42px;
  background-size: 42px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: white;
  background-image: url(/public/images/gg.png);
  height: 80%;
}


.footer{
  background-color: black;
  color: white;
  font-size: 13px;
  text-align: center;

}

.lol-detail{
  color: black;
}

.userinfo{
  display: flex;
  padding: 20px 0px;
}

.userinfo img{
  width: 100px;
  border-radius: 20px;
}

.user-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level{
  font-size: 12px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  bottom: 10px;
  width: 40px;
  font-weight: 900;
}

.user-text{
  margin-left: 20px;
}

.user-text h3{
  font-weight: 900;
  margin: 10px 0px;
}

.tier-list{
  font-size: 11px;
  padding: 0px 3px;
  border: 1px solid #ebeef1 ;

  color: #9AA4AF;
  background-color: #ebeef1;
}

.bottom{
  background-color: #ebeef1;
  padding-top: 10px;
}

.lank{
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  padding:10px;
  padding-bottom: 0px;
}

.lank-mode{
  font-size: 14px;
  border-bottom: 1px solid #ebeef1;
  padding-bottom: 5px;
}

.lank-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lank-img{
  display: flex;
  align-items: center;
}

.tier{
  font-size: 18px;
  font-weight: 900;
  padding-left: 10px;
}

.lp{
  font-size: 12px;
  padding-left: 10px;
}

.lank-rate{
  font-size: 12px;
  color: #9AA4AF;
}

.rate-info{
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.rate-info button{
  border: none;
  background-color: white;
  margin-right: 10px;
}

.q-area{
  border-bottom: 1px solid #ebeef1;
  padding-bottom: 5px;
}

.rate-box{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.rate-category{
  font-size: 12px;
  color: #758592;
}

.match-box{
  display: flex;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5px;
}

.match-box ul{
 padding-left: 15px;
}

.match-box li{
  list-style-type: none;
   margin-left: 0;
   font-size: 12px;
}

.match-first{
  width: 20%;
}

.champion-info{
  display: flex;
  position: relative;
}

.kda-all{
  width: 30%;
}

.kda{
  font-size: 15px;
  font-weight: 900;
  width: 100%;
}

.kda-rate{
  font-size: 12px;
  color: #758592;
 
}

.match-mode{
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  height: 100%;
}

.color-default{
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
}



.colorlose{
  background-color: #E84057;
  color: #E84057;
}
.colorwin{
  background-color: #5383E8
}

.font-win{
color: #5383E8;
font-weight: 900;
}

.font-lose{
color: #E84057;
font-weight: 900;
}

.font-winlose{
  font-weight: 900;
  color: gray;
}


.champion-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.champion-info{
  height: 70px;
  display: flex;
  align-items: center;
}

.spell{
   margin-left: 3px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-right: 10px;
}

.spell img{
  border-radius: 5px;
  margin: 2px 0px;
}

.splash{
  position: relative;
  height: 48px;
}

.splashart{
  border-radius: 24px;
}

.champion-lv{
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 11px;
  background-color: black;
  border-radius: 10px;
  width:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  height: 20px;
}

.team-box img{
  width: 16px;
  border-radius: 4px;
  margin-right: 3px;
}

.team-box{
  color: #758592;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-right: 10%;
}

.dropdown{
  border: none;
  background-color: #ffbaa3;
  position: absolute;
  height: 100%;
  width: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;

}

.color-win{
  background-color: #ecf2ff;
}

.color-lose{
  background-color: #fff1f3;

}

.item-img img {
  margin-left: 3px;
  border-radius: 5px;
}

.champion-others{
  border-left:1px solid #9AA4AF;

  
}

.champion-others li{
  font-size: 11px;
  position: relative;
  right: 7px;
}

.킬관여{
  color: red;
}